body{
    background-color: #F2F2F2;
}
#total{
    margin: 0 auto;
    width: 300px;
    height: 500px;
}
.inlineBlock {
    display: inline-block;
}
.cursorPointer{
    cursor: pointer;
}
.buttonFont{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: white;
}
.borderRadiusBtn{
    border-radius: 8px;
}
#nightMode{
    margin-left: 100px;
    margin-bottom: 10px;
    padding: 3px;
    border: 1px solid grey;
    border-radius: 5px;
}
.space{
    margin-top: 70px;
}
#stopwatchTime{
    padding: 7px;
    font-size: 50px;
    border: 1px solid gray;
    text-align: center;
}
#button{
    margin-top: 7px;
}
#startBtn {
    background-color: teal;
    padding: 10px 20px;
    width: 20px;
}
#splitBtn{
    background-color: darkcyan;
    margin-left: 10px;
    padding: 10px 30px;
}
#clearBtn{
    
}