::selection {
    background-color: rgba(0, 0, 0, 0);
}
#total{
    margin: 0 auto;
    width: 450px;
    height: 500px;
}
.inlineBlock {
    display: inline-block;
}
.cursorPointer{
    cursor: pointer;
}
.buttonFont{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: white;
}
.borderRadiusBtn{
    border-radius: 30px;
}
#nightMode{
    margin-left: 100px;
    margin-bottom: 10px;
    padding: 3px;
    border: 1px solid grey;
    border-radius: 5px;
}
#stopwatchTime{
    margin: 10px;
    width: 150px;
    height: 40px;
    font-size: 30px;
}
#startBtn {
    background-color: teal;
    padding: 10px 15px;
}
#splitBtn{
    background-color: darkcyan;
    margin-left: 10px;
    padding: 10px 15px;
}