body{
    
}
.inlineBlock {
    display: inline-block;
}
#startBtn {
    width : 100px;
    height: 100px;
    background-color: aquamarine;
}
#stopBtn{
    width : 100px;
    height: 100px;
    background-color: burlywood;
}